.header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 48px;
    padding: 0 20px;
    background-color: rgb(17, 82, 147);
    color: #fff;
    border-bottom: 1px solid rgb(17, 82, 147);;
    align-items: center;
}

.header h1 {
    flex: 1 1 auto;
    margin: 0;
    font-size: 16px;
    line-height: 40px;
}

.button-wrapper {
    flex: 0 0 auto;
    width: auto;
}

.button-wrapper button {
    margin-bottom: 0;
}   